@use "./base.scss";
@use "./variables.scss" as *;

// put your custom CSS here!

.left {
    display: grid !important;
    gap: 1.5rem !important;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content min-content;

    .page-title {
        grid-area: 1 / 1 / 2 / 3;
    }

    .search {
        grid-area: 2 / 1 / 3 / 2;
    }

    .darkmode {
        grid-area: 2 / 2 / 3 / 3;
        align-self: center;
    }

    .recent-notes {
        grid-area: 3 /1 /3/3;
    }

    .leftFooter {
        grid-area: 4/1/4/3;
    }

    @media all and ($mobile) {
        display: flex !important;
    }

    @media all and ($desktop) {
        .explorer {
            display: none;
        }
    }
}

.leftFooter {
    text-align: left;
    opacity: 0.7;

    & p {
        margin-top: 0;
    }

    & ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: -1rem;
    }
}

.page article>h1 {
    font-size: 1.75rem;
}

/* Clipping source link style*/
.content-meta {
    & a {
        color: var(--gray);
    }
}